name: kafe-local

services:
  api:
    ports:
      - 8069:8069
      - 44369:44369
    environment:
      BaseUrl: https://localhost:44369
      Kestrel__Endpoints__Http__Url: http://0.0.0.0:8069
      Kestrel__Endpoints__Https__Url: https://0.0.0.0:44369
    restart: no

  web:
    ports:
      - 3000:80

  blender:
    environment:
      BaseUrl: http://localhost:8042
      Kestrel__Endpoints__Http__Url: http://0.0.0.0:8042
    ports:
      - 8042:8042

volumes:
  kafe_postgres:
    name: kafe_local_postgres
    driver: local
  kafe_archive:
    name: kafe_local_archive
    driver: local
  kafe_generated:
    name: kafe_local_generated
    driver: local
  kafe_temp:
    name: kafe_local_temp
    driver: local
  kafe_secrets:
    name: kafe_local_secrets
    driver: local
