<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="LeGTVaR" value="https://gitlab.fi.muni.cz/api/v4/groups/39683/-/packages/nuget/index.json" protocolVersion="3" />
    <add key="KAFE" value="https://gitlab.fi.muni.cz/api/v4/projects/25731/packages/nuget/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
