@import 'layout.less';
@import 'overrides.less';

.kafe-logo {
    overflow: hidden;
    height: 40px;
    margin: 16px 0;
    padding-left: 80px;
    color: white;
    font-size: 1.8em;
    text-transform: uppercase;
    background-image: url('media/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 24px 0;
    display: block;
}
