img {
    &.full {
        width: 100%;
    }
    
    &.tiny {
        max-width: 12rem;
        max-height: 12rem;
    }
    
    &.small {
        max-width: 16rem;
        max-height: 16rem;
    }
}
