@use "sass:string";
@mixin vs-icon($name)
{
    i.vs.#{$name},
    i.vs.#{string.to-lower-case($name)},
    i.vss.#{$name},
    i.vss.#{string.to-lower-case($name)} {
        content: ' ';
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;
    }
    
    i.vs.#{$name},
    i.vs.#{string.to-lower-case($name)} {
        background-image: url("/img/vs/#{$name}.svg");
        background-size: 1em;
    }
    
    i.vss.#{$name},
    i.vss.#{string.to-lower-case($name)} {
        background-color: var(--fg);
        mask-image: url("/img/vs/#{$name}.svg");
        mask-size: 1em;
    }
}

$icon-names: //
    "Application",
    "Assembly",
    "Branch",
    "Class",
    "ClassInternal",
    "ClassPrivate",
    "ClassProtected",
    "ColorPalette",
    "Constant",
    "ConstantInternal",
    "ConstantPrivate",
    "ConstantProtected",
    "CSProjectNode",
    "Cut",
    "Database",
    "Delegate",
    "DelegateInternal",
    "DelegatePrivate",
    "DelegateProtected",
    "Diagram",
    "Document",
    "Enumeration",
    "EnumerationInternal",
    "EnumerationItem",
    "EnumerationPrivate",
    "EnumerationProtected",
    "EnumerationSealed",
    "EnumerationShortcut",
    "Event",
    "EventInternal",
    "EventPrivate",
    "EventProtected",
    "ExplodedDoughnutChart",
    "ExtensionMethod",
    "Field",
    "FieldInternal",
    "FieldPrivate",
    "FieldProtected",
    "FieldSealed",
    "ForceDirectedLayout",
    "Framework",
    "HotSpot",
    "Interface",
    "InterfaceInternal",
    "InterfacePrivate",
    "InterfaceProtected",
    "JSFileNode",
    "Library",
    "LocalVariable",
    "Message",
    "Method",
    "MethodInternal",
    "MethodPrivate",
    "MethodProtected",
    "Module",
    "ModuleInternal",
    "ModulePrivate",
    "ModuleProtected",
    "MoveGlyph",
    "Namespace",
    "NamespaceInternal",
    "NamespacePrivate",
    "NamespaceProtected",
    "NuGet",
    "Object",
    "ObjectInternal",
    "ObjectPrivate",
    "ObjectProtected",
    "Operator",
    "OperatorInternal",
    "OperatorPrivate",
    "OperatorProtected",
    "Package",
    "PolarChart",
    "Property",
    "PropertyInternal",
    "PropertyPrivate",
    "PropertyProtected",
    "Reference",
    "ReferenceGroup",
    "ReferenceGroupError",
    "ReferenceGroupWarning",
    "ReferencePrivate",
    "ReferenceWarning",
    "RegularExpression",
    "Repository",
    "ResetView",
    "Run",
    "RunAll",
    "RunOutline",
    "ShowAllConfigurations",
    "Solution",
    "StatusError",
    "StatusErrorOutline",
    "StatusHelp",
    "StatusHelpOutline",
    "StatusHidden",
    "StatusInformation",
    "StatusInformationOutline",
    "StatusOK",
    "StatusOKOutline",
    "StatusRunning",
    "StatusRunningOutline",
    "StatusWarning",
    "StatusWarningOutline",
    "Stop",
    "StopOutline",
    "String",
    "Structure",
    "StructureInternal",
    "StructurePrivate",
    "StructureProtected",
    "TeapotPreview",
    "Toolbox",
    "Type",
    "TypeInternal",
    "TypePrivate",
    "TypeProtected",
    "ValueType",
    "ValueTypeInternal",
    "ValueTypePrivate",
    "ValueTypeProtected",
    "ValueTypePublic",
    "ValueTypeSealed",
    "ValueTypeShortcut";

@each $name in $icon-names {
    @include vs-icon($name);
}
