*

# directories
!*/

# git
!.gitignore
!.gitattributes
!.gitkeep

# common
!*.cs
!*.csproj
!*.sln
!*.json
!*.yml
!*.md
!*.html
!*.png

# Docker
!Dockerfile*

# reignore output
obj/
bin/

appsettings.oidc.json

archive/
generated/
